<div ng-controller="UserController">

	<form>
		<table>
			<tr>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td><center>User Name</center></td>
			</tr>
			<tr>
				<td>First Name</td>
				<td><input type="text" ng-model="user.firstName" /></td>
			</tr>
			<tr>
				<td>LastName</td>
				<td colspan="2"><input type="text" ng-model="user.lastName" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" ng-click="saveUserPost()" /></td>
			</tr>
		</table>
	</form>
	<p>looping with objects</p>
	<ul>
		<li ng-repeat='x in userData'>
			{{x.userId+','+x.firstName+','+x.lastName}}</li>
	</ul>
</div>