<style>
table, th, td {
	border: 1px solid black;
}
</style>

<div ng-controller="BlogController">

	<form>
		<div class="form-group">
			<label for="blogName">BlogName</label> <input type="text"
				style="height: 40px; width: 200px;" class="form-control"
				ng-model="blog.blogName" name="blogName">
		</div>

		<div class="form-group">
			<label for="blogContent">BlogContent:</label>
			<textarea class="form-control" rows="6" style="width: 300px;"
				ng-model="blog.blogContent" name="blogContent"></textarea>
		</div>
		<button type="submit" class="btn btn-warning"
			ng-click="saveBlogPost()">Submit</button>


	</form>
	<h2>Blogs</h2>
	<div class="table-responsive">
		<table class="table table-bordered">
			<tr>
				<th>SL.No</th>
				<th>Blog Id</th>
				<th>Blog Name</th>
				<th>Blog Content</th>
			</tr>
			<tr ng-repeat='x in blogData'>
				<td>{{ $index + 1 }}</td>
				<td>{{ x.blogId }}</td>
				<td>{{ x.blogName }}</td>
				<td>{{x.blogContent}}</td>
				<td><button type="submit" class=" btn btn-small btn-danger"
						ng-click="deleteBlog(blogId)">Delete</button></td>
				<td><button type="submit" class="btn btn-small btn-primary"
					ng-click="updateBlog()">Edit</button></td>
			</tr>
		</table>

	</div>
</div>